footer{
    background-color: black;
    color: bisque;
    text-align: center;
}

.contenedor-footer{
    @include props-flex(column, space-between, none)
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
    }