form{
    background-color: transparent; 
    color: bisque; 
    width: 300px; 
    text-align: center;
}

.contenedor-form{
    background-color: lightcoral;
    display: flex;
    border: solid black;
    margin: 15px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}