@media all and (max-width: 480px) {
  body, html {
    overflow-x: hidden !important;
  }

  .card{
    justify-content: center;    
  }

  .margen{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}
